<div id="mini-chat">
    <div id="mini-chat-header">Ask us anything</div>
    <form id="form-question">
        <div class="form-group">
            <label>Question summary</label>
            <input id="inputTopic" type="text" class="form-control" name="topic"
                   placeholder="My question is regarding...">
        </div>
        <div class="form-group">
            <label>Message</label>
            <textarea id="inputFirstMessage" class="form-control" name="text"
                      placeholder="Tell us about your problem here" rows="3" style="resize: none;"></textarea>
        </div>
        <button id="addNewDialog">Ask</button>
    </form>
</div>

