<div id="mini-chat">
    <div id="mini-chat-header">Vraag ons alles</div>
    <form id="form-question">
        <div class="form-group">
            <label>Onderwerp</label>
            <input id="inputTopic" type="text" class="form-control" name="topic"
                   placeholder="Ik heb een vraag over...">
        </div>
        <div class="form-group">
            <label>Bericht</label>
            <textarea id="inputFirstMessage" class="form-control" name="text"
                      placeholder="Waar kan ik u mee helpen?" rows="3" style="resize: none;"></textarea>
        </div>
        <button id="addNewDialog">Vragen</button>
    </form>
</div>

