<li class="<%= status %>">
    <img src="<%= image %>" alt=""/>
    <p>
        <%= mes %>
        <br/>
        <small class="float-right mt-2"><%= new Date(time.replace(/\s/, 'T')).ddmmyyyyhhmm() %></small>
    </p>
</li>
