<div class="message-pop-n">
    <% if (photo) { %>
    <img class="user-icon-n" src="<%= photo %>">
    <% } %>
    <div class="message-content-n">
        <div class="user-name-n">
            <%= title %>
        </div>
        <div class="message-text-n">
            <%= text %>
        </div>
    </div>
    <span class="close-message-n">✖</span>
</div>