<div class="message-pop">
    <img class="user-icon" src="question.png">
    <div class="message-content">
        <div class="user-name">
            Name
        </div>
        <div class="message-text">
            Boy desirous families prepared gay reserved add ecstatic say. Replied joy age visitor nothing cottage.
        </div>
    </div>
    <span class="close-message">✖</span>
</div>