@white: #fff;
@almost_white: #f5f5f5;
@light_grey: #d0d0d0;
@grey: #828282;
@dark_grey: #1d1d1d;
@black: #000000;
@background_grey: #dbe0e0;
@font_family_1: "Roboto", sans-serif;

body {
  font-family: @font_family_1 !important;
  font-size: 1em !important;
  letter-spacing: 0.1px !important;
  background: @light_grey;
  color: @black;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
}

button:focus {
  outline: none !important;
}

select:focus {
  outline: none !important;
}

input:focus {
  outline: none !important;
}

textarea:focus {
  outline: none !important;
}

.badge-resolved {
  background: rgba(50, 200, 17, 0.83);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
}

.badge-counter {
  background: rgba(214, 192, 14, 0.82);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
}

.dropdown-menu {
  font-size: inherit!important;
  width: auto!important;
}

#chat-frame {
  margin: 20px auto auto auto;
  width: 100%;
  min-width: 360px;
  max-width: 1000px;
  height: 75vh;
  min-height: 300px;
  max-height: 720px;
  background: #E6EAEA;

  #sidepanel {
    float: left;
    min-width: 280px;
    max-width: 340px;
    width: 40%;
    height: 100%;
    background: #0E56A4;
    color: @almost_white;
    overflow: hidden;
    position: relative;

    #profile {
      width: 80%;
      margin: 20px auto 18px auto;
      position: relative;

      .wrap {
        height: 50px;
        line-height: 52px;
        display: inline-block;
        overflow: hidden;
        -moz-transition: 0.3s height ease;
        -o-transition: 0.3s height ease;
        -webkit-transition: 0.3s height ease;
        transition: 0.3s height ease;

        img {
          width: 50px;
          border-radius: 50%;
          height: auto;
          float: left;
          cursor: pointer;
          -moz-transition: 0.3s border ease;
          -o-transition: 0.3s border ease;
          -webkit-transition: 0.3s border ease;
          transition: 0.3s border ease;
        }

        p {
          float: left;
          margin-left: 15px;
          height: 50px;
        }
      }

    }

    #search {
      border-top: 1px solid #0c4c92;
      border-bottom: 1px solid #0c4c92;
      font-weight: 300;

      label {
        position: absolute;
        margin: 10px 0 0 20px;
      }

      input {
        font-family: @font_family_1;
        padding: 10px 0 10px 46px;
        width: 100%;
        border: none;
        background: #0c4c92;
        color: @almost_white;

        &:focus {
          outline: none;
          background: #0a437f;
        }

        &::-webkit-input-placeholder {
          color: @almost_white;
        }

        &::-moz-placeholder {
          color: @almost_white;
        }

        &:-ms-input-placeholder {
          color: @almost_white;
        }

        &:-moz-placeholder {
          color: @almost_white;
        }
      }
    }

    #conversations {
      &::-webkit-scrollbar-track {
        width: 5px;
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        width: 5px;
        background: rgba(15, 97, 185, 0.28) !important;
        border: none;
        border-radius: 3px;
      }

      ul {
        li.conversation {
          position: relative;
          padding: 13px 0 13px 0;
          font-size: 0.9em;
          cursor: pointer;

          &:hover {
            background: #0f5fb5;
          }

          .wrap {
            width: 88%;
            margin: 0 auto;
            position: relative;

            img {
              width: 40px;
              border-radius: 50%;
              float: left;
              margin: 2px 10px 0 0;
            }

            .meta {
              padding: 1px 0 0 0;

              .name {
                margin: 5px 0 0 0;
                padding: 0 0 1px;
                font-weight: 600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                -moz-transition: 1s all ease;
                -o-transition: 1s all ease;
                -webkit-transition: 1s all ease;
                transition: 1s all ease;
              }

              .preview {
                margin: 5px 0 0 0;
                padding: 0 0 1px;
                font-weight: 400;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                -moz-transition: 1s all ease;
                -o-transition: 1s all ease;
                -webkit-transition: 1s all ease;
                transition: 1s all ease;

                span {
                  position: initial;
                  border-radius: initial;
                  background: none;
                  border: none;
                  padding: 0 2px 0 0;
                  margin: 0 0 0 1px;
                  opacity: .5;
                }
              }
            }
          }
        }

        li.conversation.active {
          background: #1065c1;
        }
      }
    }

    #conversations.expanded {
      height: calc(100% - 334px);
    }

    #bottom-bar {
      position: absolute;
      width: 100%;
      height: 37px;
      bottom: 0;

      button {
        float: left;
        border: none;
        width: 100%;
        height: 37px;
        padding: 11px 0;
        background: #0c4c92;
        color: @almost_white;
        cursor: pointer;
        font-size: 0.85em;
        font-family: @font_family_1;

        &:focus {
          outline: none;
        }

        &:hover {
          background: #0a437f;
        }

        i {
          margin-right: 3px;
          font-size: 1em;
        }
      }
    }
  }

  .content-chat {
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .contact-profile {
      img {
        width: 40px;
        border-radius: 50%;
        float: left;
        margin: 9px 12px 0 15px;
      }

      button {
        float: right;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 17px 15px 0 0;
        padding: 2px 2px;
        cursor: pointer;
        line-height: normal;
        background: transparent;
      }

      p {
        float: left;
      }
    }

    .messages {
      height: auto;
      min-height: calc(100% - 97px);
      max-height: calc(100% - 97px);
      overflow-y: scroll;
      overflow-x: hidden;

      &::-webkit-scrollbar-track {
        width: 5px;
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        width: 5px;
        background: rgba(15, 97, 185, 0.28) !important;
        border: none;
        border-radius: 3px;
      }

      ul {
        li {
          display: inline-block;
          clear: both;
          float: left;
          margin: 15px 15px 5px 15px;
          width: calc(100% - 25px);
          font-size: 0.9em;

          &:nth-last-child(1) {
            margin-bottom: 20px;
          }

          img {
            width: 25px;
            border-radius: 50%;
            float: left;
          }

          p {
            display: inline-block;
            padding: 10px 15px;
            border-radius: 10px;
            max-width: 350px;
            line-height: 130%;

            small {
              font-size: 10px;
            }
          }
        }

        li.replies {
          img {
            margin: 6px 8px 0 0;
          }

          p {
            background: #0f61b9;
            color: @almost_white;

            small {
              color: @light_grey;
            }
          }
        }

        li.sent {
          img {
            float: right;
            margin: 6px 0 0 8px;
          }

          p {
            background: #f5f5f5;
            color: @black;
            float: right;

            small {
              color: @grey;
            }
          }
        }

        li.mes-break {
          padding: 5px 0;
          border-radius: 10px;
          min-height: 26px;
          height: auto;
          background-color: @background_grey;
          text-align: center;
         // padding-top: 7px;
          line-height: 26px;

          p {
            padding: 0;
            font-size: 12px;
          }
        }
      }
    }

    .message-input {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 37px;
      z-index: 99;

      .wrap {
        position: relative;

        input {
          font-family: @font_family_1;
          float: left;
          border: none;
          height: 37px;
          width: calc(100% - 40px);
          padding: 10px 15px;
          color: @black;

          &:focus {
            outline: none;
          }
        }

        button {
          float: right;
          border: none;
          width: 40px;
          padding: 10px 0;
          height: 37px;
          cursor: pointer;
          background: #0c4c92;
          color: @almost_white;

          &:hover {
            background: #0a437f;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .content {
    .contact-profile {
      z-index: 120;
      .dropleft {
        .dropdown-menu {
          border-radius: 0;

          .dropdown-item {
            line-height: initial;
            padding: .25rem 1rem;
            font-family: @font_family_1;
            color: @dark_grey;

            &:hover {
              background: rgba(14, 86, 164, 0.04);
            }
          }
        }
        button {
          i:active {
            color: @dark_grey;
          }
        }
      }
    }

    .redirect {
      z-index: 120;
      padding: 10px;
      border-top: solid 1px rgba(33, 33, 33, 0.12);
      border-bottom: solid 1px rgba(33, 33, 33, 0.12);

      form {
        select {
          height: 30px !important;
          font-size: 0.9em;
          font-family: @font_family_1;
          border-radius: 4px 0 0 4px;
          border: 1px solid rgba(9, 53, 102, 0.41);
          border-right: none;
          padding-top: 4px;
          color: @dark_grey;

          &:focus {
            outline: none;
          }
        }

        .input-group-append {
          button {
            height: 30px;
            width: 82px;
            padding-top: 4px;
            border-radius: 0 4px 4px 0;
            border: none;
            background: #0f61b9;
            color: @almost_white;
            cursor: pointer;
            font-size: 0.9em;
            font-family: @font_family_1;

            &:hover {
              background: #0E56A4;
            }
          }
        }
      }
    }
  }

  .content-chat {
    .contact-profile {
      width: 100%;
      height: 60px;
      line-height: 60px;
      background: #f5f5f5;
    }
  }
}

.new-convo {
  display: none;

  .new-convo-header {
    width: 100%;
    background: #0c4c92;
    color: @white;
    font-size: 1em;
    padding: 12px 20px;
    height: 40px;
  }

  form {
    padding: 12px 20px;

    div {
      label {
        font-size: 0.9rem;
        padding-left: 5px;
        margin-bottom: 5px;
      }

      input {
        font-size: 0.9rem;
        height: 30px;
        font-family: @font_family_1;
      }

      textarea {
        font-size: 0.9rem;
        line-height: 25px;
        font-family: @font_family_1;
        resize: none;
      }
    }

    button {
      height: 30px;
      width: 100%;
      padding-top: 4px;
      border-radius: 4px;
      border: none;
      background: #0f61b9;
      color: @almost_white;
      cursor: pointer;
      font-size: 0.9em;
      font-family: @font_family_1;

      &:hover {
        background: #0E56A4;
      }
    }
  }
}

#date-bubble {
  background: @grey;
  font-variant: all-small-caps;
  font-weight: normal;
  font-size: 14px;
  color: @dark_grey;
  height: 32px;
  max-width: 100px;
  text-align: center;
  padding: 3px 6px;
  margin: 5px auto;
  z-index: 120;
  border-radius: 5px;
  border: 1px solid #6a6a6a;
  transition: top 0.3s;
}

.messages-move-top {
  margin-top: -32px !important;
  margin-bottom: 32px !important;
}

img {
  background: #fff;
}

ul {
  padding-inline-start: 40px;
  margin: 0;
  padding: 0;
}

.container-blured {
  margin-left: 12px;
  margin-right: 12px;
}

@media screen and (min-width: 735px) {
  #chat-frame .content-chat .messages ul li p small {
    font-size: 10px;
  }

  #chat-frame .content-chat .messages ul li p {
    max-width: 300px;
  }
}

@media screen and (max-width: 735px) {
  #chat-frame {
    width: 100%;

    #sidepanel {
      width: 58px;
      min-width: 58px;
   //   overflow: visible;

      #profile {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 10px;
        background: #0c4c92;

        .wrap {
          height: 50px;
          padding: 10px 9px;
          display: block;

          img {
            width: 40px;
          }

          p {
            display: none;
          }
        }
      }

      #search {
        display: none;
      }

      #conversations {
        height: calc(100% - 100px)!important;
        overflow-y: scroll!important;
        overflow-x: hidden!important;

        &::-webkit-scrollbar {
          display: none;
        }

        ul {
          li.conversation {
            padding: 6px 0 46px 8px;

            .wrap {
              width: 100%;

              img {
                margin-right: 0;
              }

              .meta {
                display: none;
              }
            }
          }
        }
      }

      #bottom-bar {
        button {
          float: none;

          i {
            font-size: 1.3em;
          }

          span {
            display: none;
          }
        }
      }
    }

    .content-chat {
      width: calc(100% - 58px);
      min-width: 300px !important;

      .messages {
        max-height: calc(100% - 105px);
      }
    }
  }
}

@media screen and (min-width: 900px) {
  #chat-frame .content-chat {
    width: calc(100% - 340px);
  }
}